@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3 class="display-4">ÜNİVERSİTE - SANAYİ İŞBİRLİĞİ MODÜLÜ<br /></h3><br />
	<h3>PROJE DESTEK SİSTEMİNE HOŞGELDİNİZ</h3>
	<p> Bu proje <a href="https://duzceteknopark.com.tr/" target="_blank"> Düzce Teknopark ve DüzceTTO</a> adına,</p>
	<p><a href="http://sevgiakten.com/" target="_blank"> Sevgi AKTEN</a> tarafından yapılmıştır.</p>
</div>
