@model ProjectSupportSystem.Models.Support

@{
	ViewData["Title"] = "Create";
}
<style>
	#supportElements {
		padding: 0 20px
	}

		#supportElements:last-child {
			border-bottom: 1px solid #BBB;
		}

		#supportElements > input {
			display: none;
		}

		#supportElements i {
			display: inline-block;
			float: right;
			padding: 2px;
			width: 40px;
			height: 20px;
			border-radius: 13px;
			vertical-align: middle;
			-webkit-transition: .25s .09s;
			transition: .25s .09s;
			position: relative;
			background: #d8d9db;
			box-sizing: initial;
		}

			#supportElements i:after {
				content: " ";
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #fff;
				position: absolute;
				left: 2px;
				-webkit-transition: .25s;
				transition: .25s;
			}

		#supportElements > input:checked + i {
			background: #4bd865;
		}

			#supportElements > input:checked + i:after {
				-webkit-transform: translateX(20px);
				transform: translateX(20px);
			}

		#supportElements:hover {
			cursor: pointer;
		}
</style>

<h4>Destek Formu</h4>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="AddOrUpdate">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="SupportType" class="control-label"></label>
				<input asp-for="SupportType" class="form-control" />
				<span asp-validation-for="SupportType" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SupportName" class="control-label"></label>
				<input asp-for="SupportName" class="form-control" />
				<span asp-validation-for="SupportName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="WhoApply" class="control-label"></label>
				<input asp-for="WhoApply" class="form-control" />
				<span asp-validation-for="WhoApply" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Goal" class="control-label"></label>
				<input asp-for="Goal" class="form-control" />
				<span asp-validation-for="Goal" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ApplicationProcessAndCondition" class="control-label"></label>
				<input asp-for="ApplicationProcessAndCondition" class="form-control" />
				<span asp-validation-for="ApplicationProcessAndCondition" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SupportDuration" class="control-label"></label>
				<input asp-for="SupportDuration" class="form-control" />
				<span asp-validation-for="SupportDuration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SupportPercentage" class="control-label"></label>
				<input asp-for="SupportPercentage" class="form-control" />
				<span asp-validation-for="SupportPercentage" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SupportAmount" class="control-label"></label>
				<input asp-for="SupportAmount" class="form-control" />
				<span asp-validation-for="SupportAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Code" class="control-label"></label>
				<input asp-for="Code" class="form-control" />
				<span asp-validation-for="Code" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Destek Unsurları</label>
				<label id="supportElements">
					<span style="padding-right: 10px">Hepsini Seç / Temizle </span>
					<input type="checkbox" id="hepsiniSec"><i></i>
				</label>
				<select name="SupportElements[]"
						id="select2"
						multiple="multiple"
						class="form-control "
						asp-items="ViewBag.SupportElements"></select>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="submit" value="Kaydet" class="btn btn-primary btn-block" />
				</div>
				<div class="form-group col-md-6">
					<a asp-action="Index" class="btn btn-warning btn-block"><i class="fade fa-table"></i> Listeye Geri Dön</a>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
	$(function () {
		//select2 eklentimizin tanımı
		$('#select2').select2();
		//hepsiniSec kodlarımız
		$("#hepsiniSec").on("click", function () {
			if ($(this).is(':checked')) {
				$("#select2 > option").prop("selected", "selected");
				$("#select2").trigger("change");
			} else {
				$("#select2 > option").removeAttr("selected");
				$("#select2").trigger("change");
			}
		});
	});
</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
