@model ProjectSupportSystem.Models.Support

@{
    ViewData["Title"] = "Create";
}

<h1>Ekle</h1>

<h4>Destek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupportType" class="control-label">Türü</label>
                <input asp-for="SupportType" class="form-control" />
                <span asp-validation-for="SupportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportName" class="control-label">Adı</label>
                <input asp-for="SupportName" class="form-control" />
                <span asp-validation-for="SupportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoApply" class="control-label">Kimler Başvurabilir?</label>
                <input asp-for="WhoApply" class="form-control" />
                <span asp-validation-for="WhoApply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal" class="control-label">Amacı</label>
                <input asp-for="Goal" class="form-control" />
                <span asp-validation-for="Goal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationProcessAndCondition" class="control-label">Başvuru Süreci ve Şekli</label>
                <input asp-for="ApplicationProcessAndCondition" class="form-control" />
                <span asp-validation-for="ApplicationProcessAndCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportDuration" class="control-label">Süresi (Ay)</label>
                <input asp-for="SupportDuration" class="form-control" />
                <span asp-validation-for="SupportDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportPercentage" class="control-label">Oranı (%)</label>
                <input asp-for="SupportPercentage" class="form-control" />
                <span asp-validation-for="SupportPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportAmount" class="control-label">Miktarı (TL)</label>
                <input asp-for="SupportAmount" class="form-control" />
                <span asp-validation-for="SupportAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Kodu</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklaması</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
